<div class="wrapper">
  <div class="grid grid-nogutter">
    <div class="col-12">
      <div *ngIf="gameWon" class="mb-3">
        <p-card>
          <p-button (click)="restartGame()" label="Restart Game"></p-button>
        </p-card>
      </div>
      <p-card>
        <div *ngIf="!currentChampion">
          <p-button (click)="startGame()" label="Start Game"></p-button>
        </div>

        <div *ngIf="currentChampion">
          <div class="card flex justify-content-center" *ngIf="!gameWon">
            <p-dropdown
              [options]="userSelectableChampions"
              [ngModel]="userChampionInput()"
              (ngModelChange)="userChampionInput.set($event)"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select a Champion"
            >
              <ng-template let-champion pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img
                    [src]="championService.imageUrlPrefix + champion.image.full"
                    [alt]="champion.name"
                    [class]="'mr-2'"
                    style="width: 20px"
                  />
                  <div>{{ champion.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div
            class="answer-container header"
            *ngIf="userIncorrectChampions.length"
          >
            <div class="card">Champion</div>
            <div class="card" *ngFor="let column of tableColumnsMapped">
              {{ column.fieldName }}
            </div>
          </div>

          <div *ngIf="userIncorrectChampions.length">
            <div
              class="answer-container"
              *ngFor="let champion of userIncorrectChampions"
              [@answerChange]="userIncorrectChampions"
            >
              <div class="card">
                <img
                  [src]="championService.imageUrlPrefix + champion.image.full"
                  [alt]="champion.name"
                  style="width: 65px"
                  [pTooltip]="champion.name"
                />
              </div>
              <div
                class="card"
                *ngFor="let column of tableColumnsMapped"
                [ngStyle]="{
                  'background-color':
                    champion
                    | championCompare : currentChampion : column.dataKey
                }"
              >
                <span>{{ champion[column.dataKey] }}</span>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
